*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #aaa;
    &:hover{
        border-bottom: 3px solid #aaa;
    }
}

/* Hero */
.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 50px;

    h1{
        font-size: 55px;
    }
    p{
        font-size: 20px;
    }
}

/* Project-list */
.project-list{
    .project-list-flex{
        display: flex;
        flex-direction: column;
        align-items: center;

        .project-item{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 700px;
            border-top: 2px solid #333;
            span{
                svg{
                    width: 40px;
                    height: 40px;  
                }
            }
            h1{
                display: flex;
                align-items: center;
                gap: 15px;
                font-size: 30px;
                margin-top: 30px;

            }
            ul{
                margin-left: 75px;
                margin-bottom: 30px;
                margin-top: 20px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                li{
                    font-size: 20px;
                }
            }

            .demo-preview{
                margin-bottom: 55px;
                border: 1px solid #aaa;
                img{
                    max-width: 100%;
                }
            }
        }
    }
}